<div class="card ">
    <div class="ribbon">
        <span class="ribbon_content">Descuento 5%</span>
    </div>
    <div class="card-img d-flex justify-content-center">
        <img src="https://pngimg.es/d/spinach_PNG65.png" alt="imagen">
    </div>
    <span class="card-title fw-bold text-center text-capitalize">Espinaca Fresca Orgánica</span>
    <span class="card-subtitle">Espinaca fresca y orgánica. Ideal para ensaladas y smoothies.</span>
    <p><mat-icon>event</mat-icon> 2023-10-01</p>
    <p><mat-icon>agriculture</mat-icon> Antonio García López</p>
    <p class="f-price fst-italic"><mat-icon>price_check</mat-icon> Lb $3.99</p>
    <div class="card-footer px-0 pt-4">
        <div class="row row-cols-2 m-0 w-100">
            <div class="col p-0">
                <p><em>Libras*</em></p>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-outline-dark" (click)="decreaseQuantity()">-</button>
                    <button type="button" class="btn btn-dark" disabled>{{ currentQuantity }}</button>
                    <button type="button" class="btn btn-outline-dark" (click)="increaseQuantity()">+</button>
                </div>
            </div>
            <div class="col d-flex align-items-end justify-content-end">
                <button class="icon-cart d-flex align-items-center rounded-circle shadow-sm">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>